{% extends "base.html" %}
{% set active_page = "round" %}
{% block content %}
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-header">Troveia <small>Questions</small></h1>
          <h2>Round {{ round.number }} &ndash; {{ round.topic }}</h2>
          {% if round.status == 'closed' %}
            <div class="alert alert-warning" role="alert">
              <p><b>No peeking!</b> This round isn&rsquo;t open yet...</p>
            </div>
          {% elif round.status == 'open' %}
            <ul class="questions list-group">
              {% for question in round.questions %}
              <li class="question list-group-item">
                <h4 class="list-group-item-heading">{{ loop.index }}. {{ question.question }}</h4>
              </li>
              {% endfor %}
            </ul>
          {% elif round.status == 'done' %}
            <ul class="questions list-group">
              {% for question in round.questions %}
              <li class="question list-group-item">
                <h4 class="list-group-item-heading">{{ loop.index }}. {{ question.question }}</h4>
                <dl class="dl-horizontal list-group-item-text">
                  <dt>Link:</dt>
                  {% for link in question.link %}
                    <dd>{{ link|urlize }}</dd>
                  {% endfor %}
                  <dt>Answer:</dt>
                  <dd>{{ question.answer }}</dd>
                </dl>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
{% endblock %}